.login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  *:focus {
    outline: none;
  }

  .content {
    padding: 30px 0px 10px;
  }

  #icon {
    width: 60%;
  }

  .login-logo-text {
    position: absolute;
    left: 35px;
    top: 20px;
    color: white;
    font-family: Lato, sans-serif;
    font-style: italic;
    font-size: 32px;
  }

  .login-container {
    width: 100%;
    min-height: 100vh;

    .login-form-container {
      background: url(../../assets/landing-page-background.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .login-description-container {
      min-height: 100%;
      padding-top: 20px;
      color: #064e89 !important;
      font-family: Lato, sans-serif !important;
      h1 {
        text-align: center;
        font-size: 23px;
        font-weight: 900;
        color: #064e89 !important;
      }
      h2 {
        font-size: 18px;
        font-weight: 700;
        color: #064e89 !important;
      }
      p {
        font-weight: 300;
        letter-spacing: 1px;
      }
      .vitae-logo {
        width: 200px;
        height: 100%;
      }
    }
  }

  .login-floating-window {
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    background: #44c97d;
    color: white;
    // color: #44c97d;
    b {
      color: blue;
    }
  }
}

.login-description-box {
  width: 380px;
}

.video-container-div {
  max-width: 100%;
  margin: auto;
}

.video-container {
  width: 100%;
  // margin: auto;
}

@media screen and (max-width: 647px) {
  .login-description-container {
    margin-bottom: 65px;
  }
  .login-floating-window {
    height: 70px;
    span {
      display: block;
    }
  }
}

@media screen and (min-width: 700px) {
  .login-floating-window {
    span {
      margin-right: 5px;
    }
  }
  .login-description-container {
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
  }
}
