.sign-up-container {
  .ant-card-head-title {
    text-align: center;
  }
}

.sign-up-verification-form {
  min-width: 300px;

  p {
    max-width: 300px;
    text-align: center;
    margin-bottom: 20px;
  }
}
