.register {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #44c97d;
  *:focus {
    outline: none;
  }

  #icon {
    width: 60%;
  }
}
