@import '../../assets/base.scss';

.searchBox {
  border-radius: 4px;
  background-color: #fff;
  .icon {
    font-size: 26px;
    position: absolute;
  }
  /*In IE10+ browser, use CSS to hide the cross on the right side of the input text input box*/
  ::-ms-reveal,
  input[type='text']::-ms-clear {
    display: none;
  }
  ::-ms-reveal,
  input::-ms-clear {
    display: none;
  }
  input {
    /*The outline color is removed after clicking*/
    border-radius: 4px;
    outline: none;
    border: 1px solid #fff;
    background-color: $backgroundColor;
    padding-left: 35px;
    height: 26px;
    -webkit-appearance: none;
    /*Remove the default style of the system, the shadow on the iPhone*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
