{
    "presets": [
      "es2015",
      "react",
      "stage-0"
    ],
    "plugins": [
      "react-hot-loader/babel",
      "transform-runtime",  //Move the babel helper function into a separate module babel-runtime, which can reduce the size of the project file。
      "syntax-dynamic-import"
    ]
}
