.campaign-container {
  padding: 40px;
  width: 100%;
}

.camp-add-button {
  float: right;
}

.ant-upload.ant-upload-drag {
  height: auto !important;
}

.campaign-card .ant-tag {
  margin-top: -13px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .campaign-container {
    padding: 20px;
  }
}

@media screen and (min-width: 570px) {
  .campaign-list-item {
    height: calc(100% - 16px);

    .campaign-card {
      height: 100%;

      .ant-card-body {
        margin-bottom: 48px;
      }
    }

    ul.ant-card-actions {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}
