.dashboard-container {
  padding: 40px;
  width: calc(100% - 45px);

  .home-tab-icon {
    font-size: 18px;
    margin-left: 12px;
  }

  .moderators-table {
    margin-top: 20px;
  }

  h2 {
    text-align: center;
  }

  .moderator-remove-button {
    float: right;
  }

  .ad-report-container {
    .ant-descriptions-title {
      text-align: center;
    }

    .ant-divider-vertical {
      margin-left: 50%;
      height: 90%;
      margin-top: 10%;
    }

    .ant-descriptions {
      max-width: 500px;
      margin: auto;
    }
  }

  .wallet-container {
    max-width: 750px;
    margin: auto;
  }

  .expense-upload-container {
    max-width: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .expense-table {
    .ant-table-content {
      overflow-x: auto;
    }
  }
}

.ant-list-item-meta {
  font-size: unset !important;
}

.chat-report-container {
  max-width: 750px;
  margin: auto;
}

.expense-upload {
  margin-left: calc(50% - 125px);
}

.expense-amount-form {
  margin-left: calc(50% - 75px);
  margin-top: 20px;
}

@media screen and (max-width: 647px) {
  .dashboard-container {
    padding: 20px;
    width: 100%;
    margin-bottom: 48px;
  }
}
