.campaign-view-modal {
  width: 50% !important;
  img {
    width: 100%;
  }

  .ant-modal-confirm-btns {
    display: none;
  }

  .upgrade-warning {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
}

.rain-reward-notify-container {
  margin-left: 184px;
  background-color: rgba($color: #fff, $alpha: 0.5);
  .anticon-info-circle {
    display: none;
  }

  .ant-notification-notice-message {
    display: none;
  }

  .ant-notification-notice-description {
    margin-left: 0px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 768px) {
  .campaign-view-modal {
    width: 100% !important;
  }
  .rain-reward-notify-container {
    margin-left: 127px;
  }
}

@media screen and (min-width: 1200px) {
  .campaign-view-modal {
    width: 600px !important;
  }
}
